<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="Client.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
  </startup>
  <system.serviceModel>
    <bindings>
      <netTcpBinding>
        <binding name="NetTcpBinding_IChatService">
          <security>
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="NetTcpBinding_IRoomService">
          <security>
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="NetTcpBinding_IPreGameService">
          <security>
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="NetTcpBinding_IChatService2">
          <security>
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="NetTcpBinding_IRoomService2">
          <security>
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="NetTcpBinding_IPreGameService2">
          <security>
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="NetTcpBinding_IChatService1">
          <security>
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="NetTcpBinding_IRoomService1">
          <security>
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="NetTcpBinding_IPreGameService1">
          <security>
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="NetTcpBinding_IChatService3">
          <security>
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="NetTcpBinding_IRoomService3">
          <security>
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="NetTcpBinding_IPreGameService3">
          <security>
            <transport sslProtocols="None" />
          </security>
        </binding>
        <binding name="NetTcpBinding_IGameService">
          <security>
            <transport sslProtocols="None" />
          </security>
        </binding>
      </netTcpBinding>
    </bindings>
    <client>
      <endpoint address="net.tcp://localhost:8081/MemoryService" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IChatService" contract="ChatService.IChatService" name="NetTcpBinding_IChatService">
        <identity>
          <userPrincipalName value="LAPTOP-A5PQ7FAR\david" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:8081/MemoryService" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IRoomService" contract="ChatService.IRoomService" name="NetTcpBinding_IRoomService">
        <identity>
          <userPrincipalName value="LAPTOP-A5PQ7FAR\david" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:8081/MemoryService" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IPreGameService" contract="ChatService.IPreGameService" name="NetTcpBinding_IPreGameService">
        <identity>
          <userPrincipalName value="LAPTOP-A5PQ7FAR\david" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:8081/MemoryService" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IChatService2" contract="RoomService.IChatService" name="NetTcpBinding_IChatService2">
        <identity>
          <userPrincipalName value="LAPTOP-A5PQ7FAR\david" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:8081/MemoryService" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IRoomService2" contract="RoomService.IRoomService" name="NetTcpBinding_IRoomService2">
        <identity>
          <userPrincipalName value="LAPTOP-A5PQ7FAR\david" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:8081/MemoryService" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IPreGameService2" contract="RoomService.IPreGameService" name="NetTcpBinding_IPreGameService2">
        <identity>
          <userPrincipalName value="LAPTOP-A5PQ7FAR\david" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:8081/MemoryService" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IChatService1" contract="PreGameService.IChatService" name="NetTcpBinding_IChatService1">
        <identity>
          <userPrincipalName value="LAPTOP-A5PQ7FAR\david" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:8081/MemoryService" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IRoomService1" contract="PreGameService.IRoomService" name="NetTcpBinding_IRoomService1">
        <identity>
          <userPrincipalName value="LAPTOP-A5PQ7FAR\david" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:8081/MemoryService" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IPreGameService1" contract="PreGameService.IPreGameService" name="NetTcpBinding_IPreGameService1">
        <identity>
          <userPrincipalName value="LAPTOP-A5PQ7FAR\david" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:8081/MemoryService" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IChatService3" contract="GameService.IChatService" name="NetTcpBinding_IChatService3">
        <identity>
          <userPrincipalName value="LAPTOP-A5PQ7FAR\david" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:8081/MemoryService" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IRoomService3" contract="GameService.IRoomService" name="NetTcpBinding_IRoomService3">
        <identity>
          <userPrincipalName value="LAPTOP-A5PQ7FAR\david" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:8081/MemoryService" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IPreGameService3" contract="GameService.IPreGameService" name="NetTcpBinding_IPreGameService3">
        <identity>
          <userPrincipalName value="LAPTOP-A5PQ7FAR\david" />
        </identity>
      </endpoint>
      <endpoint address="net.tcp://localhost:8081/MemoryService" binding="netTcpBinding" bindingConfiguration="NetTcpBinding_IGameService" contract="GameService.IGameService" name="NetTcpBinding_IGameService">
        <identity>
          <userPrincipalName value="LAPTOP-A5PQ7FAR\david" />
        </identity>
      </endpoint>
    </client>
  </system.serviceModel>
  <connectionStrings>
    <add name="MemoryModel" connectionString="data source=LAPTOP-A5PQ7FAR;initial catalog=MemoryUV;user id=userBD;password=123456789;MultipleActiveResultSets=True;App=EntityFramework" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <entityFramework>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <appSettings>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <userSettings>
    <Client.Properties.Settings>
      <setting name="languageCode" serializeAs="String">
        <value>en-US</value>
      </setting>
    </Client.Properties.Settings>
  </userSettings>
</configuration>